@model Application.Razor.AccountForms.Get.ResetPasswordForm.Models.ResetPasswordFormModel
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>Reset Password</title>
</head>
<body>
    <input type="hidden" id="token" value="@Model.Token" />
    <input type="hidden" id="email" value="@Model.Email" />

    <div style="width:25%;margin-left:25%;margin-top:2%">
        <div class="container">
            <div class="row" style="border: 1px solid;margin-bottom:3%">
                <div class="col-lg-12"><label style="font-size:x-large">Reset de Password</label></div>
            </div>
        </div>
        <div class="container">    
            <div class="form-group">
                <div class="row"><div class="col-lg-12"><label for="password">Nueva Password</label></div></div>
                <div class="row"><div class="col-lg-12"><input type="text" class="form-control" id="password" /></div></div>
            </div>

            <div class="form-group">
                <div class="row"><div class="col-lg-12"><label for="passwordRepeat">Repetir Password</label></div></div>
                <div class="row"><div class="col-lg-12"><input type="text" class="form-control" id="passwordRepeat" /></div></div>
            </div>

            <div class="row"><div class="col-lg-12"><button id="confirmarbtn">Confirmar</button></div></div>
        </div>
    </div>

    <script type="text/javascript">

        $("#confirmarbtn").click(function() {
            let dataReq = {
                Password: $('#password').val(),
                PasswordRepeat: $('#passwordRepeat').val(),
                Token: $('#token').val(),
                Email: $('#email').val()
            };

            $.ajax({
              type: "POST",
              contentType: 'application/json',
              url: "/v1/account/changepassword",
              data: JSON.stringify(dataReq),
              success: function(data){
                 alert("se actualizo correctamente");
              },
              error: function(data){
                  alert("Ha ocurrido un error. No se actualizo la password");
              }
            });
        });
    </script>
</body>
</html>
