@model MailModel<Core.V1.Account.Post.Reset.Models.ResetPasswordEmailDataModel>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta charset="utf-8">
    <title>@Model.Subject</title>
</head>
<body>
    <h1>@Model.Subject</h1>
    <p>Ha solicitado un restablecimiento de contraseña, siga el enlace a continuación para restablecer su contraseña.</p>
    <p>
        <a href="@Html.Raw(Model.Data.ForgotPasswordUrl.Replace("{token}",Html.UrlEncoder.Encode(Model.Data.Token)))">
            Haga click en este enlace para restablecer su contraseña.
        </a>
    </p>
    <p>Ignore este correo electrónico si no solicitó un cambio de contraseña.</p>
</body>
</html>